@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}
body {
  height: 100%;
  padding:0;
  margin:0;
  color: white;
  font-family: Verdana;
    max-width: 100%;
    overflow-x: hidden;
}
#welcome-section {
  height: 100vh;
  width: 100vw;
  text-align: center;
margin-top: 250px;
font-family: Verdana;
text-shadow: 2px 2px black;}
h1 {
  font-size: 50px;
}
p {
  font-size: 25px;
}

.container{
position: absolute;

}

.fixed-bg {
  min-height: 100%;
  background-repeat: no-repeat;
  
  background-position: center center;
}
.fixed-bg.bg-1 {
   background-image: url("./images/felix-besombes-EzrHLVd83h0-unsplash.jpg");
  background-repeat: no repeat;
   background-attachment: fixed;
  background-size: cover;
  margin: 0 auto;  
}
.bg-2 {
   background-image: url("./images/background2.jpg");
  background-repeat: no repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0 auto;
}
.fixed-bg.bg-3 {
  background-image: url("./images/image_2024-02-10_223443886.png");
  background-repeat: no repeat;
   background-attachment: fixed;
  background-size: cover;
  margin: 0 auto;
}
#navbar {
  display: flex;
  position: fixed;
  align-items: right;
  background: rgb(68, 69, 71);
  width: 100%;
  float: right;
  border-bottom: 1px solid black;
  top: 0;
  left: 0;
  right:0;
  z-index: 3; 
 }
 
.nav-list{
  display: flex;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
 
 }
 
nav a:visited {color: black;}
nav a:hover {color:white;}
 .nav-list li {
  margin-right: 20vh;
            
 }

/* Sizing for Project Containers  */

/* Color and Images for Project Containers  */
h2 {
  margin-top:150px;
  margin-left:720px;
}
h3 {
  margin-left:850px;
}

#projects {
  display: flex;
  margin-top: 50px;
  gap: 50px;
}
.project-tile {
  height: 400px;
  width: 400px;
  margin-top: 100px;
}
.project-1 {
  background-image: url("https://codepen.io/Nadia9124/pen/PoLdYgM/image/small.png");
  background-size: 100%;
background-repeat: no-repeat;
margin-left: 75px;

}
.project-2 {
  background-image: url("https://codepen.io/Nadia9124/pen/BabOayy/image/small.png");
  background-size: 100%;
background-repeat: no-repeat;
  
}
.project-3 {
  background-image: url("https://codepen.io/Nadia9124/pen/QWoVWLE/image/small.png");
  background-size: 100%;
background-repeat: no-repeat;
}
.project-4 {
  background-image: url("https://codepen.io/Nadia9124/pen/GReXRJV/image/small.png");
  background-size: 100%;
background-repeat: no-repeat;
}

figcaption {
  background: black;
  color: white;
  text-align: center;
}

#contact {
  width: 800px;
  height:400px;
  background-color: purple;
  text-align: center;
  margin-top: 200;
 margin-left: 575;
 opacity: 0.75;
}
#contact-text {
 padding-top: 50px;
 font-size: 40px;
}
#profile-link {
  font-size: 40px;
  color: white;
}
i:hover {color: black;}
a:hover {color: black;}
figcaption:hover {color: aqua;}
#email-text {
  color: white
}
